{% include "../templates/css.html" %}
{% block content %}
{% load static%}
<body>
	<!-- Start header -->
	{% include "../components/header.html" %}
	<!-- End header -->
	
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Contact</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start Contact -->
	<div class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>How can we help you?</h2>
						<p>Got any question, comment or suggestion? <br>
							We'd love to hear from you.</p> <br>
						<h2>You can email us your queries or concerns at 
							<a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJNtfChRLQRDRFFhMTJsrxqzdjJwSbnhfgbPxxQpXgbPCfZdkrCfDmcdjDCxxmlTzJnwXJB">
							<span style="color: #cfa671">yamifood@gmail.com</span></a></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact -->
	
	<!-- Start Footer -->
	{% include "../components/footer.html" %}
	<!-- End Footer -->
	
	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
</body>
{% endblock content %}
{% include "../templates/js.html" %}

