{% include "../templates/css.html" %}
{% block content %}
{% load static%}

<body>
	<!-- Start header -->
	{% include "../components/header.html" %}
	<!-- End header -->

	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Dashboard</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	<div class="stuff-box">
		<div class="container text-center">
			<div class="row" id="NavTable">
				<div class="col-lg-12">
					<h1 class="display-4">Charts</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="container text-center">
		<div class="row" id="NavTable">
			<div class="col-lg-12">
				<h1 class="display-4">Tables</h1>
			</div>
		</div>
	</div>
	<div class="stuff-box">
		<div class="container text-center">
			<div class="row" id="NavTable">
				<div class="col">
					<a href="#UserTable" class="h3 text-dark"
						onclick="hideAll();w3.show('#UserTable');return false;">User</a>
				</div>
				<div class="col">
					<a href="" class="h3 text-dark"
						onclick="hideAll();w3.show('#ProductTable');return false;">Product</a>
				</div>
				<div class="col">
					<a href="" class="h3 text-dark" 
					onclick="hideAll();w3.show('#OrderTable');return false;">Order</a>
				</div>
				<div class="col">
					<a href="" class="h3 text-dark" 
					onclick="hideAll();w3.show('#DeliveryTable');return false;">Delivery</a>
				</div>
			</div>
			<div class="row">

			</div>
		</div>
	</div>
	<!-- Start Stuff -->
	<div class="stuff-box" id="UserTable">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>User</h2>
						<div class="text-right"> 
							<a class="btn btn-dark text-right" href="signup"><i 
								class="fas fa-plus"></i>&nbsp Add User</a>
						</div>
						<table id="dataTable" class="table table-borderless table-hover">
							<thead class="thead-dark">
								<tr>
									<th class=" text-center"><input type="checkbox" onchange="
										if(this.checked)
											dt.rows().select();
										else
											dt.rows().deselect();
									"></th>
									<th>User ID</th>
									<th>Username</th>
									<th>Password</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Phone Number</th>
									<th>Access</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for user in users %}
								<tr>
									<td></td>
									<td>{{user.user_id}}</td>
									<td>{{user.username}}</td>
									<td>{{user.password}}</td>
									<td>{{user.first_name}}</td>
									<td>{{user.last_name}}</td>
									<td>{{user.phone_number}}</td>
									<td>{% if user.is_admin == 1 %}Admin{% else %}User{% endif %}</td>
									<td>
										<div class="row text-center">
											<div class="col">
												<a class="btn btn-outline-secondary text-center" href="#"><i
														class="fas fa-edit"></i></a>
											</div>
											<div class="col">
												<a href="#" class="btn btn-outline-secondary text-center"><i
														class="fas fa-trash-alt"></i></a>
											</div>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th class="text-center"></th>
									<th>User ID</th>
									<th>Username</th>
									<th>Password</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Phone Number</th>
									<th>Access</th>
									<th>Action</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
			<div class="row">

			</div>
		</div>
	</div>
	<div class="stuff-box" id="ProductTable" style="display:none">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Product</h2>
						<div class="text-right"> 
							<a class="btn btn-dark text-right" href="menu"><i 
								class="fas fa-plus"></i>&nbsp Add Product</a>
						</div>
						<table id="dataTable1" class="table table-borderless table-hover">
							<thead class="thead-dark">
								<tr>
									<th class=" text-center"><input type="checkbox" onchange="
										if(this.checked)
											dt1.rows().select();
										else
											dt1.rows().deselect();
									"></th>
									<th>Product ID</th>
									<th>Product Name</th>
									<th>Product Category</th>
									<th>Price</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for product in products %}
								<tr>
									<td></td>
									<td>{{product.product_id}}</td>
									<td>{{product.product_name}}</td>
									<td>{{product.product_category}}</td>
									<td>{{product.price}}</td>
									<td>
										<div class="row text-center">
											<div class="col-sm">
												<a class="btn btn-outline-secondary text-center" href="#"><i
														class="fas fa-edit"></i></a>
											</div>
											<div class="col">
												<a href="#" class="btn btn-outline-secondary text-center"><i
														class="fas fa-trash-alt"></i></a>
											</div>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th class="text-center"></th>
									<th>Product ID</th>
									<th>Product Name</th>
									<th>Product Category</th>
									<th>Price</th>
									<th>Action</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
			<div class="row">

			</div>
		</div>
	</div>
	<div class="stuff-box" id="OrderTable" style="display:none">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Order</h2>
						<table id="dataTable2" class="table table-borderless table-hover">
							<thead class="thead-dark">
								<tr>
									<th class=" text-center"><input type="checkbox" onchange="
										if(this.checked)
											dt1.rows().select();
										else
											dt1.rows().deselect();
									"></th>
									<th>Order ID</th>
									<th>Date Ordered</th>
									<th>Total Price</th>
									<th>User ID</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for order in orders %}
								<tr>
									<td></td>
									<td>{{order.order_id}}</td>
									<td>{{order.date_ordered}}</td>
									<td>{{order.total_price}}</td>
									<td>{{order.user_id}}</td>
									<td>
										<div class="row text-center">
											<div class="col-sm">
												<a class="btn btn-outline-secondary text-center" href="#"><i
														class="fas fa-edit"></i></a>
											</div>
											<div class="col">
												<a href="#" class="btn btn-outline-secondary text-center"><i
														class="fas fa-trash-alt"></i></a>
											</div>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th class="text-center"></th>
									<th>Order ID</th>
									<th>Date Ordered</th>
									<th>Total Price</th>
									<th>User ID</th>
									<th>Action</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
			<div class="row">

			</div>
		</div>
	</div>
	<div class="stuff-box" id="DeliveryTable" style="display:none">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Delivery</h2>
						<table id="dataTable3" class="table table-borderless table-hover">
							<thead class="thead-dark">
								<tr>
									<th class=" text-center"><input type="checkbox" onchange="
										if(this.checked)
											dt1.rows().select();
										else
											dt1.rows().deselect();
									"></th>
									<th>Delivery ID</th>
									<th>Delivery Carrier</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for delivery in deliveries %}
								<tr>
									<td></td>
									<td>{{delivery.delivery_id}}</td>
									<td>{{delivery.delivery_carrier}}</td>
									<td>
										<div class="row text-center">
											<div class="col-sm">
												<a class="btn btn-outline-secondary text-center" href="#"><i
														class="fas fa-edit"></i></a>
											</div>
											<div class="col">
												<a href="#" class="btn btn-outline-secondary text-center"><i
														class="fas fa-trash-alt"></i></a>
											</div>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th class="text-center"></th>
									<th>Delivery ID</th>
									<th>Delivery Carrier</th>
									<th>Action</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
			<div class="row">

			</div>
		</div>
	</div>
	<!-- End Stuff -->

	<!-- Start Customer Reviews -->
	<!-- <div class="customer-reviews-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Customer Reviews</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 mr-auto ml-auto text-center">
					<div id="reviews" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner mt-4">
							<div class="carousel-item text-center active">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle" src="{% static 'images/profile-1.jpg' %}" alt="">
								</div>
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Paul Mitchel</strong></h5>
								<h6 class="text-dark m-0">Web Developer</h6>
								<p class="m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
							</div>
							<div class="carousel-item text-center">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle" src="{% static 'images/profile-3.jpg' %}" alt="">
								</div>
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Steve Fonsi</strong></h5>
								<h6 class="text-dark m-0">Web Designer</h6>
								<p class="m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
							</div>
							<div class="carousel-item text-center">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle" src="{% static 'images/profile-7.jpg' %}" alt="">
								</div>
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Daniel vebar</strong></h5>
								<h6 class="text-dark m-0">Seo Analyst</h6>
								<p class="m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
							</div>
						</div>
						<a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
							<i class="fa fa-angle-left" aria-hidden="true"></i>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<span class="sr-only">Next</span>
						</a>
                    </div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- End Customer Reviews -->

	<!-- Start Footer -->
	{% include "../components/footer.html" %}
	<!-- End Footer -->

	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
</body>
{% endblock content %}

{% include "../templates/js.html" %}