{% load static%}
<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="home">
                <img src="{% static 'images/logo.png' %}" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-rs-food">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if nbar == 'home' %}active{% endif %}"><a class="nav-link" href="home">Home</a></li>
                    {% if nbar == 'order' %}
                        {% if status %}
                        <li class="nav-item dropdown {% if nbar == 'order' %}active{% endif %}"><a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Order</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="" onclick="openNav();return false;">My Cart</a>
                        </div>
                        </li>
                        {% else %}
                        <li class="nav-item {% if nbar == 'order' %}active{% endif %}"><a class="nav-link" href="order">Order</a></li>
                        {% endif %}
                    {% else %}
                    <li class="nav-item {% if nbar == 'order' %}active{% endif %}"><a class="nav-link" href="order">Order</a></li>
                    {% endif %}
                    <li class="nav-item {% if nbar == 'about' %}active{% endif %}"><a class="nav-link" href="about">About</a></li>
                    <li class="nav-item {% if nbar == 'features' %}active{% endif %}"><a class="nav-link" href="features">Features</a></li>
                    <li class="nav-item {% if nbar == 'contact' %}active{% endif %}"><a class="nav-link" href="contact">Contact</a></li>
                    {% if status %}
                    <li class="nav-item {% if nbar == 'dashboard' %}active{% endif %}"><a class="nav-link" href="dashboard">Dashboard</a></li>
                    <li class="nav-item {% if nbar == 'login' %}active{% endif %}"><a class="nav-link" href="login">Logout</a></li>
                    {% else %}
                    <li class="nav-item {% if nbar == 'login' %}active{% endif %}"><a class="nav-link" href="login">Login</a></li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </nav>
</header>
{% include "./mycart.html" %}